<main>
<app-header></app-header>

<div class="hero-section">
    <div class="container">
        <div class="row ">
            <div class="col-xl-8 pt-5">
                <div class="text pt-5">
                    <h1>Prosper with us</h1>
                    <p>We provide the easier and safer way to connect your user’s data to your platform using a single API.</p>
                    <p>Let us help you provide valuable insights, attract customers, grow your business, offer personalized products and more.</p>
                </div>
                <div class="btns">
                    <button class="btn btn-dark">Book a Demo ></button>
                    <button class="btn btn-light">Contact Us</button>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="img">
                    <img src="../../assets/media/media/Bank Selection.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
<div class="second-section text-center p-5">
    <span>WHAT IS PROSPER</span>
    <h3>We connect with finance institutes in a safe and easy way</h3>
    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem optio reiciendis mollitia dolorum earum, porro veritatis doloremque ipsum libero ullam.</p>
    <p> <span>Our mission</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ipsum fuga quaerat ratione ex laborum.</p>
</div>
</div>

<div class="container pt-5">
 <div class="section-three text-center">
    <span>WHAT WE PROVIDER</span>
    <h3>The ultimate soloution to your needs!</h3>
    <div class="row py-4">
        <div class="col-lg-4">
            <img src="../../assets/media/media/services/1.png" width="50px" alt=""> <br>
            <span>Security is prioritized</span>
        </div>
        <div class="col-lg-4">
            <img src="../../assets/media/media/services/2.png" width="50px" alt=""> <br>
            <span>Substaincial API coverage</span>
        </div>
        <div class="col-lg-4">
            <img src="../../assets/media/media/services/5p-5.png" width="50px" alt=""> <br>
            <span>Super easy integration </span>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-lg-4">
            <img src="../../assets/media/media/services/4.png" width="50px" alt=""> <br>
            <span>Cost savoy soloution</span>
        </div>
        <div class="col-lg-4">
            <img src="../../assets/media/media/services/5.png" width="50px" alt=""> <br>
            <span>Widesaperated data coverage</span>
        </div>
        <div class="col-lg-4">
            <img src="../../assets/media/media/services/6.png" width="50px" alt=""> <br>
            <span>Extraordinaroy case support </span>
        </div>
    </div>
 </div>
</div>

<div class="section-four pt-5">
    <div class="container">
        <div class="text-center">
            <p>WHAT YOU CAN BUILD</p>
        <h2>Prosper creates what your user demand</h2>
        </div>
        <div class="row pt-4">
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img src="../../assets/media/media/creates/1.png" alt="">
                    <div class="p-3">
                        <h6>Lending</h6>
                        <p>Help users instantly share their financial information to avail loans within seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img src="../../assets/media/media/creates/2.png" alt="">
                    <div class="p-3">
                        <h6>BNPL(Buy now pay later)</h6>
                        <p>Emphatically reduce your default rates by assessing a customer’s financial risk</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img src="../../assets/media/media/creates/3.png" alt="">
                    <div class="p-3">
                        <h6>Digital Accounting</h6>
                        <p>Facilitate bookkeeping, tax filing and accounting processes </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img src="../../assets/media/media/creates/4.png" alt="">
                    <div class="p-3">
                        <h6>Personal Finance Management</h6>
                        <p>Help users understand what financial products would be perfect for them</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img src="../../assets/media/media/creates/5.png" alt="">
                    <div class="p-3">
                        <h6>Onboards new customers</h6>
                        <p>Easily verify any pre-existing bank account holder to streamline their onboarding journey in your app. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img src="../../assets/media/media/creates/6.png" alt="">
                    <div class="p-3">
                        <h6>Payments</h6>
                        <p>Allow users to send funds directly from their accounts to the merchant</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-five pt-5">
    <div class="container">
        <div class="text-center">
            <p>HOW DOES IT WORK</p>
            <h2>We streamline the work flow for you</h2>
        </div>

        <swiper
        [config]="config" class="py-4">
        <ng-template swiperSlide>
            <div class="">
                <img src="../../assets/media/media/Flow/1.png" alt="">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="">
                <img src="../../assets/media/media/Flow/2.png" alt="">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="">
                <img src="../../assets/media/media/Flow/3.png" alt="">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="">
                <img src="../../assets/media/media/Flow/4.png" alt="">
            </div>
        </ng-template>
        
        
      </swiper>

    </div>
</div>

</main>